<md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
        <h2 class="md-flex">TrustPay - Gaspare Scherma test</h2>
    </div>
</md-toolbar>
<div layout="column">
    <div layout="column">
        <div layout="raw" layout-align="start end">
            <md-button class="md-raised md-primary" ng-click="addVehicle($event)" >Add a Vehicle</md-button>
        </div>
        <div layout="raw" layout-align="end end" layout-padding>
            <md-button class="md-raised md-primary" ng-click="filterStatus='available'">Show Available</md-button>
            <md-button class="md-raised md-primary" ng-click="filterStatus='booked'">Show Booked</md-button>
            <md-button class="md-raised md-primary"  ng-click="filterStatus=undefined">Show All</md-button>
        </div>
        <md-divider></md-divider>
        <md-list-item>
            <p> Make </p>
            <p> Status </p>
            <p> Colour </p>
            <p> Wheels </p>
            <p> People count</p>
            <p> Customer </p>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-repeat="vehicle in vehiclesData | filter:{status: filterStatus}" ng-click="editVehicle($event, vehicle)">
            <p> {{ vehicle.make }} </p>
            <p> {{ vehicle.status }} </p>
            <p> {{ vehicle.colour }} </p>
            <p> {{ vehicle.wheels }} </p>
            <p> {{ vehicle.peoples }} </p>
            <p> {{ vehicle.customer_rent.email }} </p>
        </md-list-item>
    </div>
</div>
