<md-dialog aria-label="Add a new Vehicle">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add a New Vehicle</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
        <form name="addVehicleForm">
            <md-content layout-padding>
                <div layout="raw" layout-padding>
                    <md-input-container flex>
                        <label>Make</label>
                        <input name="make" required ng-model="vehicle.make">
                        <div ng-messages="addVehicleForm.make.$error">
                            <div ng-message="required">Make is required.</div>
                        </div>
                    </md-input-container flex>
                    <md-input-container flex-gt-sm class="fix-select">
                        <label>Status</label>
                        <md-select name="status" required ng-model="vehicle.status" ng-change="changeStatus()">
                            <md-option ng-repeat="status in statusList" value="{{status}}">
                                {{status}}
                            </md-option>
                        </md-select>
                        <div ng-messages="addVehicleForm.status.$error">
                            <div ng-message="required">Status is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <md-content layout-padding>
                    <div layout="raw" layout-padding>
                        <md-input-container>
                            <label>Colour</label>
                            <input name="colour" ng-model="vehicle.colour">
                        </md-input-container>
                        <md-input-container>
                            <label>Wheels</label>
                            <input name="wheels" ng-model="vehicle.wheels" required type="number" step="1" min="1">
                            <div ng-messages="addVehicleForm.wheels.$error">
                                <div ng-message="required">Wheels number is required.</div>
                                <div ng-message="min">Minimum number is 1.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="raw" layout-padding>
                        <md-input-container flex="30">
                            <label>People Count</label>
                            <input name="peoples" ng-model="vehicle.peoples" type="number" step="1" min="1">
                            <div ng-messages="addVehicleForm.peoples.$error">
                                <div ng-message="min">Minimum number is 1.</div>
                            </div>
                        </md-input-container>
                        <md-input-container  flex="70" flex-gt-sm class="fix-select">
                            <label>Customer</label>
                            <md-select name="customer_id" ng-disabled="customer_id && vehicle.status=='booked'" ng-model="customer_id" ng-change="changeCustomer()">
                                <md-option ng-repeat="customer in customersData" value="{{customer.id}}">
                                    {{customer.email}}
                                </md-option>
                            </md-select>
                            <div ng-messages="addVehicleForm.customer.$error">
                                <div ng-message="required">Customer is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                </md-content>
            </md-content>
        </form>
    </md-dialog-content>
    <md-divider></md-divider>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="answer('cancel')">
            Cancel
        </md-button>
        <md-button ng-disabled="isFormInvalid()" ng-click="answer('save')" style="margin-right:20px;">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>
